<div class="bs-callout bs-callout-default" ng-show="article != undefined">
    <div ng-show="!updateState">
        <h4>{{article.title}}</h4>
        <span>{{article.body}}</span>

        <div ng-show="hasRight()" ng-click="update()">수정</div>
    </div>
    <div ng-show="updateState">
        <input ng-model="article.title">
        <textarea ng-model="article.body"></textarea>

        <div ng-click="updateDone()">수정완료</div>
    </div>
    <div>{{article.date}}</div>
    <div>{{article.author}}</div>
    <div ng-show="hasRight()" ng-click="delete()">삭제</div>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="reply in replies">{{reply}}</li>
        <li class="list-group-item" ng-click="getReplies();" ng-show="!info.end">리플더보기</li>
    </ul>
    <div class="input-group">
        <input class="form-control"><span class="input-group-addon">리플달기</span>
    </div>
</div>