<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="ko">
    <meta charset="UTF-8">
    <title>board</title>
    <link rel="stylesheet" href="/css/css.css">
</head>
<body ng-app="board">
<div ng-controller="loginController">
    <div ng-show="!user.logged">
        <input type="text" ng-model="user.email"/>
        <input type="password" ng-model="user.password" />

        <div ng-click="login()">로그인</div>
        <div ng-click="register()">회원가입</div>
    </div>
    <div ng-show="user.logged">
        {{user.email}}
        <div ng-click="logout()">로그아웃</div>
    </div>
</div>


<div ng-controller="boardController">
    <h1>{{subject}}</h1>
    <ul>
        <li ng-repeat="title in titles" title="title"></li>
    </ul>
    <article></article>
    <new-article titles='titles'></new-article>
</div>


<div ng-controller="mainController">
    <div ng-view></div>
</div>
<script src="/node_modules/angular/angular.min.js"></script>
<script src="/node_modules/angular-route/angular-route.min.js"></script>
<script src="/js/js.js"></script>
</body>
</html>